.home-background{ /* = background image div */ 
    content: "";
    top:0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: beige;
    height:100%;
     /* Center and scale the image nicely */
     background-size:cover ;
     background-repeat: no-repeat;
     position: fixed;
     background-attachment: scroll;
     -webkit-filter: blur(4px) grayscale(0.2) opacity(0.8);
  }
  .headerContent .title{
    font-size: 4em;
    color:  rgb(4, 27, 51);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }